body{
  /*background-image: url("BrooklynBeach.JPG");*/
  background-color: #dcd0ff
  background-size: cover;
  font-family: Calibri, serif;
  margin-left: 10%;
  margin-right: 10%;
}

header {
  color: #ffffff;
  text-align: center;
  background-color: #8aacbf;
  font-size: 1.8em;
}

h3 {
  text-align: center;
}

p {
  color: #0a0a0a;
}

header img {
  height: 250px;
}

img#bg {

  background-image: url("img_girl.jpg");

  min-height: 100%;
  min-width: 1024px;

  width: 100%;
  height: auto;

  position: fixed;
  top: 0;
  left: 0;

  opacity: 0.1;
}

li {
  padding-left: 40px;
}

li#last-child {
  padding-right: 0px;
}

ul#horizontal-list {
  text-align: center;
  min-width: 696px;
  list-style: none;
  padding-left: 0px;
}

ul#horizontal-list li {
  display: inline;
}

a:visited {
  color: gray;
}
